* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Muli", sans-serif;
  min-width: 100vw;
  min-height: 100vh;

  position: relative;
}

main {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #292e58;
}

.Landing {
  flex: 0 0 auto;
}

.Logo {
  z-index: 99;
  display: block;
  width: 250px;
  height: 150px;
  position: sticky;
  background-image: url("../images/LogoWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: flip 0.2s 4s forwards;
}

@keyframes flip {
  0% {
    background-image: url("../images/LogoWhite.png");
  }
  100% {
    background-image: url("../images/Logo.png");
  }
}

.Animate-In {
  z-index: 1;
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateY(5000px);
  animation: slide-up 3s 1s forwards ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(5000px);
  }
  100% {
    transform: translateY(0);
  }
}

.Button {
}
