* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden; }

body {
  font-family: "Muli", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: #292e58; }

header {
  position: absolute;
  display: block;
  z-index: 99;
  width: 100%;
  height: 100px; }

h1 {
  font-weight: 200;
  letter-spacing: 0.1em;
  font-size: 17px;
  text-align: center;
  line-height: 150%;
  margin-bottom: 30px; }

.LogoHeading {
  z-index: 99;
  display: block;
  width: 180px;
  height: 50px;
  margin: 40px auto;
  background-image: url("../images/Logo.png");
  background-repeat: no-repeat;
  background-size: contain; }

.Description {
  color: white;
  line-height: 150%;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 2px;
  animation: flip-color 0.1s 1.2s forwards; }

@keyframes flip-color {
  0% {
    color: white; }
  100% {
    color: #292e58; } }

main {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center; }

.Landing {
  width: 100%;
  flex: 0 0 auto; }

.Center {
  z-index: 99;
  width: 80%;
  margin: 0 auto;
  display: flex;
  position: relative;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Logo {
  display: block;
  width: 350px;
  height: 150px;
  position: sticky;
  background-image: url("../images/LogoWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: flip 0.2s 3.5s forwards; }

.Animate-In {
  z-index: 1;
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateY(2000px);
  animation: slide-up 2s forwards ease-in-out; }

@keyframes slide-up {
  0% {
    transform: translateY(2000px); }
  100% {
    transform: translateY(0); } }

.Standard {
  margin: 45px auto;
  width: 140px;
  height: 32px;
  background-color: #e05e33;
  border-radius: 3px;
  border: none;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 100;
  opacity: 0;
  position: relative;
  animation: fade-in 0.6s 1.5s forwards ease-in-out; }
  .Standard:after {
    z-index: -2;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 0;
    background-color: #292e58;
    transition: height 0.3s ease-in-out; }
  .Standard:hover {
    cursor: pointer; }
    .Standard:hover:after {
      height: 100%; }

.noAnim {
  animation: none !important;
  opacity: 1; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.inactive {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

.active {
  transition: 0s; }

.Form-Container {
  width: 100%; }

.Flex-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.Option {
  width: 23%;
  height: 240px;
  background-color: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  margin: 20px; }
