* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  line-height: 1;
  font-family: "Muli", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: #292e58;
  animation: background-change 0s 3.3s forwards;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
